<section class="p-4">
  <div class="w-full bg-white rounded-xl flex flex-row-reverse p-2 mb-4 gap-4">
    <button (click)="getSignatures()" class="bg-cyan-900 text-white rounded px-4 py-2">
      <i class="fas fa-sync-alt" *ngIf="!showLoading"></i>
      <i class="fas fa-sync-alt fa-spin" *ngIf="showLoading"></i>
    </button>
    <button *ngIf="roleService.isAdminOrManager" (click)="onOpenModal('signatureAddModal')" class="bg-pink-600 text-white hover:bg-pink-700 rounded-full px-4 py-2">
      <i class="fas fa-plus"></i> Add Signature
    </button>
  </div>

  <div class="grid grid-cols-3 gap-2">
    <!-- Signature card -->
    <div *ngFor="let signature of signatures" class="flex flex-wrap justify-center">
      <div class="w-full px-4">
        <div class="h-56 w-80 absolute flex justify-center items-center">
          <img class="object-cover h-20 w-20 rounded-full"
               src="{{signature.createdByUser.profileImageUrl}}"
               alt=""/>
        </div>

        <div class="h-56 mx-4 w-5/6 bg-[#20354b] rounded-3xl shadow-md sm:w-80 sm:mx-0">
          <div class="h-1/2 relative flex items-start justify-between px-3 py-5">
            <span class="text-white text-sm">{{signature.label}}</span>
            <span *ngIf="roleService.isAdminOrManager" class="text-emerald-400 cursor-pointer" (click)="onOpenModal('signatureDropDown' + signature.signatureId)">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
              </svg>
            </span>

            <div id="modalOverlay" (click)="onCloseModals()"
                 class="fixed inset-0 h-full w-full z-20" style="display: none"></div>

            <div id="signatureDropDown{{signature?.signatureId}}"
                 class="absolute right-0 top-0 mt-2 w-48 bg-white rounded-md overflow-hidden shadow-xl z-20" style="display: none">
              <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-[#20354b] hover:text-white" href="signatures/builder/{{signature?.signatureId}}">Edit</a>
              <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-[#20354b] hover:text-white" (click)="onEditSignature(signature)">Settings</a>
              <button [hidden]="true" class="hidden" id="openEditModal{{signature?.signatureId}}" (click)="onOpenModal('signatureEditModal' + signature?.signatureId)"></button>
              <a *ngIf="(roleService.isAdmin) || (roleService.isSuperAdmin)" class="block px-4 py-2 text-sm text-red-500 hover:bg-[#20354b] cursor-pointer" (click)="onOpenModal('userDeleteModal' + signature?.signatureId)">Delete Signature</a>
            </div>
          </div>

          <div class="bg-white h-1/2 w-full rounded-3xl flex flex-col justify-around items-center">
            <div class="w-full h-1/2 flex justify-between items-center px-3 pt-2">
              <div class="flex flex-col justify-center items-center">
                <h1 class="text-gray-500 text-xs">Users</h1>
                <h1 class="text-gray-600 text-sm">340</h1>
              </div>
              <div class="flex flex-col justify-center items-center">
                <h1 class="text-gray-500 text-xs">Group(s)</h1>
                <h1 class="text-gray-600 text-sm">4</h1>
              </div>
            </div>
            <div class="w-full pb-2 flex flex-col justify-center items-center">
              <h1 class="text-gray-700 font-bold">{{signature.createdByUser.firstName}} {{signature.createdByUser.lastName}}</h1>
              <h1 class="text-gray-500 text-sm"><span class="font-semibold">Created:</span> {{signature.creationDate | date: 'dd MMMM yyyy hh:mm'}}</h1>
              <h1 class="text-gray-500 text-sm"><span class="font-semibold">Last updated:</span> {{signature.lastModificationDateDisplay ? (signature?.lastModificationDateDisplay | date: 'dd MMMM yyyy hh:mm') : (signature.creationDate | date: 'dd MMMM yyyy hh:mm')}}</h1>
            </div>
          </div>
        </div>
      </div>

      <!-- Add Signature Modal -->
      <div *ngIf="roleService.isAdminOrManager" id="signatureAddModal" class="fixed inset-0 w-full h-full z-10 bg-black bg-opacity-50 duration-300 overflow-y-auto" style="display: none">
        <div class="relative sm:w-3/4 md:w-1/2 lg:w-1/3 mx-2 sm:mx-auto my-10 opacity-100">
          <div
            class="relative bg-white shadow-lg rounded-lg text-gray-900 z-30">
            <header class="flex flex-col justify-center items-center p-3 text-emerald-500">
              <div class="flex justify-center w-28 h-28 border-4 border-emerald-500 rounded-full mb-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 mt-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                </svg>
              </div>
              <h2 class="font-semibold text-2xl">Add new signature</h2>
            </header>
            <main>
              <form #addSignatureForm="ngForm" (ngSubmit)="onAddNewSignature(addSignatureForm)">
                <div class="p-4">

                  <div class="grid grid-cols-15 mt-5">
                    <div class="inline-block">
                      <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold mr-2">Label</label>
                      <span *ngIf="addSignatureForm.invalid && labelInput.touched && !labelInput.value" class="text-sm text-red-600" id="usernameError">Label required</span>
                    </div>
                    <input type="text"
                           id="label"
                           name="label"
                           placeholder=" "
                           ngModel #labelInput="ngModel"
                           required
                           class="py-2 rounded-xl border-2 border-blue-300 mt-1 focus:outline-none focus:border-teal-400 text-slate-500 {{addSignatureForm.invalid && labelInput.touched && !labelInput.value ? 'border-red-500' : 'border-blue-300'}}"/>
                  </div>

                  <div class="flex flex-row space-x-4 text-center mt-2">
                    <div class="relative z-30 w-full mb-2">
                      <label class="inline-flex items-center mt-2">
                        <input
                          type="checkbox"
                          name="active"
                          id="active"
                          checked
                          [ngModel]="false"
                          ngModel #activeInput="ngModel"
                          class="form-checkbox h-4 w-4 text-cyan-500 focus:outline-none"><span class="text-sm ml-2 text-gray-700">Active</span>
                      </label>
                    </div>
                  </div>
                </div>

                <footer class="flex justify-center bg-transparent mt-6">
                  <button (click)="onCloseModals()" type="button"
                          class="bg-[#20354b] font-semibold text-white py-3 w-full rounded-bl-md hover:bg-cyan-900 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300">
                    Cancel
                  </button>
                  <button type="submit"
                          [disabled]="addSignatureForm.invalid"
                          class="bg-emerald-500 font-semibold text-white py-3 w-full rounded-br-md hover:bg-emerald-600 disabled:bg-emerald-300 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300">
                    Confirm
                  </button>
                </footer>
              </form>
            </main>
          </div>
        </div>
      </div>
      <!-- END Add Signature Modal -->

      <!-- Edit Signature Settings Modal -->
      <div *ngIf="roleService.isAdminOrManager" id="signatureEditModal{{signature.signatureId}}" class="fixed inset-0 w-full h-full z-10 bg-black bg-opacity-50 duration-300 overflow-y-auto" style="display: none">
        <div class="relative sm:w-3/4 md:w-1/2 lg:w-1/3 mx-2 sm:mx-auto my-10 opacity-100">
          <div
            class="relative bg-white shadow-lg rounded-lg text-gray-900 z-30">
            <header class="flex flex-col justify-center items-center p-3 text-emerald-500">
              <div class="flex justify-center w-28 h-28 border-4 border-emerald-500 rounded-full mb-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 mt-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                </svg>
              </div>
              <h2 class="font-semibold text-2xl">Edit {{signature.label}}</h2>
            </header>
            <main>
              <form #editSignatureForm="ngForm" (ngSubmit)="onUpdateSignature()">
                <div class="p-4">

                  <div class="grid grid-cols-15 mt-5">
                    <div class="inline-block">
                      <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold mr-2">Label</label>
                      <span *ngIf="editSignatureForm.invalid && labelUpdateInput.touched && !labelUpdateInput.value" class="text-sm text-red-600" id="labelUpdateError">Label required</span>
                    </div>
                    <input type="text"
                           id="labelUpdate"
                           name="labelUpdate"
                           placeholder=" "
                           ngModel #labelUpdateInput="ngModel"
                           [(ngModel)]="editSignature.label"
                           required
                           class="py-2 rounded-xl border-2 border-blue-300 mt-1 focus:outline-none focus:border-teal-400 text-slate-500 {{editSignatureForm.invalid && labelUpdateInput.touched && !labelUpdateInput.value ? 'border-red-500' : 'border-blue-300'}}"/>
                  </div>

                  <div class="flex flex-row space-x-4 text-center mt-2">
                    <div class="relative z-30 w-full mb-2">
                      <label class="inline-flex items-center mt-2">
                        <input
                          type="checkbox"
                          name="activeUpdate"
                          id="activeUpdate"
                          checked
                          [ngModel]="false"
                          ngModel #activeUpdateInput="ngModel"
                          class="form-checkbox h-4 w-4 text-cyan-500 focus:outline-none"><span class="text-sm ml-2 text-gray-700">Active</span>
                      </label>
                    </div>
                  </div>
                </div>

                <footer class="flex justify-center bg-transparent mt-6">
                  <button (click)="onCloseModals()" type="button"
                          class="bg-[#20354b] font-semibold text-white py-3 w-full rounded-bl-md hover:bg-cyan-900 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300">
                    Cancel
                  </button>
                  <button type="submit"
                          [disabled]="editSignatureForm.invalid"
                          class="bg-emerald-500 font-semibold text-white py-3 w-full rounded-br-md hover:bg-emerald-600 disabled:bg-emerald-300 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300">
                    Confirm
                  </button>
                </footer>
              </form>
            </main>
          </div>
        </div>
      </div>
      <!-- END Edit Signature Settings Modal -->

      <!-- Delete Signature Modal -->
      <div *ngIf="roleService.isAdmin" id="userDeleteModal{{signature.signatureId}}" class="fixed inset-0 w-full h-full z-10 bg-black bg-opacity-50 duration-300 overflow-y-auto" style="display: none">
        <div class="relative sm:w-3/4 md:w-1/2 lg:w-1/3 mx-2 sm:mx-auto my-10 opacity-100 z-30">
          <div
            class="relative bg-white shadow-lg rounded-lg text-slate-600 z-30">
            <header class="flex flex-col justify-center items-center p-3 text-red-500">
              <div class="flex justify-center w-28 h-28 border-4 border-red-500 rounded-full mb-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 mt-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg>
              </div>
              <h2 class="font-semibold text-2xl">Delete {{signature.label}}</h2>
            </header>
            <main class="p-3 text-center">
              <p>
                Are you sure you want to delete <span class="font-semibold">{{signature.label}}</span> from signatures ?
              </p>
              <p class="text-red-500 font-semibold">This action is irreversible</p>
            </main>
            <footer class="flex justify-center bg-transparent mt-6">
              <button (click)="onCloseModals()" type="button"
                      class="bg-[#20354b] font-semibold text-white py-3 w-full rounded-bl-md hover:bg-cyan-900 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300">
                Cancel
              </button>
              <button (click)="onDeleteSignature(signature.signatureId)"
                      class="bg-red-500 font-semibold text-white py-3 w-full rounded-br-md hover:bg-red-700 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300">
                Confirm
              </button>
            </footer>
          </div>
        </div>
      </div>
      <!-- END Delete Signature Modal -->

    </div>
    <!-- END Signature card -->

  </div>
</section>
