<section class="p-4">
  <div class="grid grid-cols-3 gap-2">
    <!-- Signature card -->
    <div *ngFor="let signature of signatures" class="flex flex-wrap justify-center">
      <div class="w-full px-4">
        <div class="h-56 w-80 absolute flex justify-center items-center">
          <img class="object-cover h-20 w-20 rounded-full"
               src="{{signature.createdByUser.profileImageUrl}}"
               alt=""/>
        </div>

        <div class="h-56 mx-4 w-5/6 bg-[#20354b] rounded-3xl shadow-md sm:w-80 sm:mx-0">
          <div class="h-1/2 relative flex items-start justify-between px-3 py-5">
            <span class="text-white text-sm">{{signature.label}}</span>
            <span *ngIf="roleService.isAdminOrManager" class="text-emerald-400 cursor-pointer" (click)="onOpenModal('signatureDropDown' + signature.signatureId)">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
              </svg>
            </span>

            <div id="modalOverlay" (click)="onCloseModals()"
                 class="fixed inset-0 h-full w-full z-20" style="display: none"></div>

            <div id="signatureDropDown{{signature?.signatureId}}"
                 class="absolute right-0 top-0 mt-2 w-48 bg-white rounded-md overflow-hidden shadow-xl z-20" style="display: none">
              <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-[#20354b] hover:text-white" href="user/profile/{{signature?.signatureId}}">Edit</a>
              <a *ngIf="(roleService.isAdmin) || (roleService.isSuperAdmin)" class="block px-4 py-2 text-sm text-red-500 hover:bg-[#20354b] cursor-pointer" (click)="onOpenModal('userDeleteModal' + signature?.signatureId)">Delete Signature</a>
            </div>
          </div>

          <div class="bg-white h-1/2 w-full rounded-3xl flex flex-col justify-around items-center">
            <div class="w-full h-1/2 flex justify-between items-center px-3 pt-2">
              <div class="flex flex-col justify-center items-center">
                <h1 class="text-gray-500 text-xs">Users</h1>
                <h1 class="text-gray-600 text-sm">340</h1>
              </div>
              <div class="flex flex-col justify-center items-center">
                <h1 class="text-gray-500 text-xs">Group(s)</h1>
                <h1 class="text-gray-600 text-sm">4</h1>
              </div>
            </div>
            <div class="w-full pb-2 flex flex-col justify-center items-center">
              <h1 class="text-gray-700 font-bold">{{signature.createdByUser.firstName}} {{signature.createdByUser.lastName}}</h1>
              <h1 class="text-gray-500 text-sm"><span class="font-semibold">Created:</span> {{signature.creationDate | date: 'dd MMMM yyyy hh:mm'}}</h1>
              <h1 class="text-gray-500 text-sm"><span class="font-semibold">Last updated:</span> {{signature?.lastModificationDateDisplay ? (signature?.lastModificationDateDisplay | date: 'dd/MM/yyyy hh:mm') : (signature.creationDate | date: 'dd MMMM yyyy hh:mm')}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END Signature card -->

  </div>
</section>
