<div class="min-h-screen bg-no-repeat bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1486520299386-6d106b22014b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80')">
  <div class="flex justify-end">
    <div class="bg-white min-h-screen w-1/2 flex justify-center items-center">
      <div>

        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
          <div>
            <span class="text-sm text-gray-900">Welcome back</span>
            <h1 class="text-2xl font-bold">Login to your account</h1>
          </div>
          <div class="flex items-center border-2 py-2 px-3 mt-3 rounded-2xl {{loginForm.invalid && usernameInput.touched && !usernameInput.value ? 'border-red-500' : 'border-gray-100'}}">
            <i class="fas fa-user text-gray-400"></i>
            <input class="pl-2 outline-none border-none focus:border-none focus:outline-none" type="text" name="username" id="username" ngModel #usernameInput="ngModel" placeholder="Username" required/>
          </div>
          <small class="p-2 text-red-500" *ngIf="loginForm.invalid && usernameInput.touched && !usernameInput.value">* Please, enter a username</small>
          <div class="flex items-center border-2 py-2 px-3 mt-3 rounded-2xl {{loginForm.invalid && passwordInput.touched && !passwordInput.value ? 'border-red-500' : 'border-gray-100'}}">
            <i class="fas fa-lock text-gray-400"></i>
            <input class="pl-2 outline-none border-none" type="password" name="password" id="password" ngModel #passwordInput="ngModel" placeholder="Password" required/>
          </div>
          <small class="p-2 text-red-500" *ngIf="loginForm.invalid && passwordInput.touched && !passwordInput.value">* Please, enter a password</small>
          <div class="flex justify-between mt-3">
            <label class="inline-flex items-center mt-2">
              <input type="checkbox" class="form-checkbox h-4 w-4 text-red-600"><span class="text-sm ml-2 text-gray-700">Remember Me</span>
            </label>
            <span class="text-sm text-blue-600 hover:text-blue-300 cursor-pointer mt-2">Forgot password?</span>
          </div>
          <div class="">
            <button type="submit" [disabled]="loginForm.invalid || showLoading" class="mt-4 mb-3 w-full bg-blue-500 hover:bg-blue-400 disabled:bg-blue-400 text-white py-2 rounded-md transition duration-100">
              <span *ngIf="showLoading"><i class="fas fa-spinner fa-spin"></i> Loading...</span>
              <span *ngIf="!showLoading">Login now</span>
            </button>
          </div>
        </form>

          <p class="mt-8"> Don't have an account? <a routerLink="/register" class="cursor-pointer text-sm text-blue-600 hover:text-blue-300"> Get one now!</a></p>
      </div>
    </div>
  </div>
</div>
